* {
  box-sizing: border-box; }

/*insert custom css below*/

div {
  width: 500px;
  padding: 30px;
  margin: 5px;
  border: 1px solid black;
}

body {
  background-color: #cccccc;
}

/* unvisited link */
a:link {
    color: #000000;
}

/* mouse over link */
a:hover {
    color: white;
}

/*unvisited link*/
a:link {
    text-decoration: none;
}

