* {
  box-sizing: border-box; }

/*insert custom css below*/

div {
  width: 500px;
  padding: 30px;
  margin: 5px;
  border: 1px solid black;
}

body {
  background-color: #cccccc;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: white;
}

.readmore:hover {
  text-decoration: underline;
}


